* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.scene_container {
    width: 900px;
    height: 800px;
    background-image: url("./resources/full_scene.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scene {
    width: inherit;
    height: inherit;
    position: relative;
}

.blue_car {
    position: absolute;
    width: 45px;
    top: 10px;
    left: 127px;
}

.greenish_car {
    position: absolute;
    width: 85px;
    top: 405px;
    left: 175px;
}

.grey_car {
    position: absolute;
    width: 80px;
    bottom: 70px;
}

.human {
    position: absolute;
    width: 12px;
    top: 454px;
    left: 450px;
}

.light_orange_car {
    position: absolute;
    width: 45px;
    top: 445px;
    left: 325px;
}

.orange_car {
    position: absolute;
    width: 75px;
    top: 35px;
    right: 50px;
}

.red_car {
    position: absolute;
    width: 45px;
    top: 300px;
    left: 177px;
}

.tree {
    position: absolute;
    width: 82px;
    top: 268px;
    left: 563px;
}

.umbrella {
    position: absolute;
    width: 65px;
    top: 137px;
    right: 270px;
}

.white_car {
    position: absolute;
    width: 75px;
    top: 85px;
    left: 563px;
}

.yellow_car {
    position: absolute;
    width: 45px;
    bottom: 10px;
    right: 160px;
}

.full_house {
    position: absolute;
    width: 157px;
    top: 197px;
    left: 247px;
}

.hide_and_show_el:hover {
    opacity: 0;
    transition: opacity 0.5s;
}

.scene:hover > .blue_car {
    animation: blue_car_move 5s linear forwards;
}

.scene:hover > .greenish_car {
    animation: greenish_car_move 5s linear forwards;
}

.scene:hover > .grey_car {
    animation: grey_car_move 5s linear forwards;
}

.scene:hover > .human {
    animation: human_move 5s linear forwards;
}

.scene:hover > .light_orange_car {
    animation: light_orange_car_move 5s linear forwards;
}

.scene:hover > .orange_car {
    animation: orange_car_move 5s linear forwards;
}

.scene:hover > .red_car {
    animation: red_car_move 5s linear forwards;
}

.scene:hover > .tree {
    animation: tree_vibrate 5s linear forwards;
}

.scene:hover > .umbrella {
    animation: umbrella_rotate 1s linear 5 forwards;
}

.scene:hover > .white_car {
    animation: white_car_move 5s linear forwards;
}

.scene:hover > .yellow_car {
    animation: yellow_car_move 5s linear forwards;
}

.scene:hover > .full_house {
    animation: full_house_scale 5s linear forwards;
}

@keyframes blue_car_move {
    from    {transform: translateY(0px);}
    to      {transform: translateY(350px);}
}


@keyframes red_car_move {
    from    {transform: translateY(0px);}
    to      {transform: translateY(-350px);}
}

@keyframes greenish_car_move {
    from    {transform: translateX(0px);}
    to      {transform: translateX(420px);}
}

@keyframes light_orange_car_move {
    from    {transform: translateY(0px);}
    to      {transform: translateY(140px);}
}

@keyframes grey_car_move {
    from    {transform: translateX(0px);}
    to      {transform: translateX(250px);}
}

@keyframes white_car_move {
    from    {transform: translateX(0px);}
    to      {transform: translateX(250px);}
}

@keyframes orange_car_move {
    from    {transform: translateX(0px);}
    to      {transform: translateX(-250px);}
}

@keyframes yellow_car_move {
    from    {transform: translateY(0px);}
    to      {transform: translateY(-310px);}
}

@keyframes human_move {
    from    {transform: translateX(0px);}
    to      {transform: translateX(150px);}
}

@keyframes tree_vibrate {
    0%,20%,40%,60%,80%,100% {transform: translateX(-5px);}
    10%,30%,50%,70%,90% {transform: translateX(5px);}
}

@keyframes full_house_scale {
    0%,20%,40%,60%,80%,100% {transform: scale(1,1);}
    10%,30%,50%,70%,90% {transform: scale(1.1,1.1);}
}

@keyframes umbrella_rotate {
    from    {transform: rotate(0deg);}
    to      {transform: rotate(360deg);}
}