* {
	overflow-x: hidden;
}

.bg-black {
  background: #000;
  color: #fff; }

#main-header img {
  width: 100%;
  height: 100%; }

#main-header .port-item {
  width: 30%; }
  #main-header .port-item .fa {
    font-size: 2em; }

#main-header .port-item:hover {
  opacity: 0.8;
  cursor: pointer; }

#fa-container .fa {
  font-size: 2em;
  cursor: pointer; }
  #fa-container .fa:hover {
    color: #007BFF; }

@media (min-width: 1199px) {
  .port-item {
    padding: 3em !important; } }
