* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    width: 100vw;
    height: 100vh;
}


/* Game Container Styles */

.game_container {
    width: inherit;
    height: inherit;
    background: url("../img/bg_2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


/* Start Page Styles */

.start_page_overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: start;
    justify-content: center;
    background-color: rgba(30, 30, 30, 0.8);
}

.start_page_card {
    font-family: monospace;
    background-color: #03203C;
    margin-top: 5%;
    padding: 1% 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0 0 10px 1px #333;
    color: #fff;
}

.start_page_card>.logo {
    width: 40%;
    margin-bottom: 3%;
}

.start_page_card>.label {
    margin-bottom: 5%;
    font-size: 3em;
    font-weight: bold;
}

.start_page_card>.player_name {
    padding: 10px 10px;
    font-size: 3em;
    border-radius: 10px;
    border: none;
    margin-bottom: 5%;
    text-align: center;
}

.start_page_card>.player_name:focus {
    outline: none;
}

.start_page_card>.start_button {
    cursor: pointer;
    padding: 10px 25px;
    font-size: 2em;
    border-radius: 8px;
    border: none;
    background-color: #1B484A;
    color: #fff;
}

.start_page_card>.start_button:focus {
    outline: none;
}

.start_page_card>.start_button:hover {
    background-color: #10A8B6
}

.start_page_card>.start_button:active {
    opacity: 0.5;
}


/* Finish Page Styles */

.finish_page_overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: start;
    justify-content: center;
    background-color: rgba(30, 30, 30, 0.8);
}

.finish_page_card {
    font-family: monospace;
    background-color: #03203C;
    margin-top: 1%;
    padding: 1% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0 0 10px 1px #333;
    color: #fff;
}

.finish_page_card>.logo {
    width: 15%;
    margin-bottom: 2%;
}

.finish_page_card>.label {
    margin-bottom: 2%;
    font-size: 2.5em;
    font-weight: bold;
}

.finish_page_card>.score_table {
    width: 80%;
    font-size: 1.5em;
    margin-bottom: 3%;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #dddddd;
    color: #03203C;
    font-weight: bold;
}

th {
    color: yellow;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 6px;
}

.stars {
    color: red;
}

.finish_page_card>.new_game_button {
    cursor: pointer;
    padding: 10px 25px;
    font-size: 1.5em;
    border-radius: 8px;
    border: none;
    background-color: #1B484A;
    color: #fff;
}

.finish_page_card>.new_game_button:focus {
    outline: none;
}

.finish_page_card>.new_game_button:hover {
    background-color: #10A8B6
}

.finish_page_card>.new_game_button:active {
    opacity: 0.5;
}

.info_panel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    font-family: monospace;
    font-size: 3.5em;
    font-weight: bold;
    color: #120E43;
}